---

import Layout from '../layouts/Layout.astro';
import Banner from '../components/Banner.astro';
import Skills from '../components/Skills.astro';
import LineTime from '../components/LineTime.jsx';
import ProjectsHome from '../components/ProjectsHome.astro';
import Contacto from '../components/Contacto.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
	<Banner />
	<div class="bg-slate-950 border-neutral-800 border-t-2 border-b-2">
		<Skills />
		<LineTime client:visible/>
		<ProjectsHome />
	</div>
	<Contacto />
	<Footer />



	

	
</Layout>
