---
import Layout from "../layouts/Layout.astro"

---


<Layout>
    <main>
        <div>
            <span>Aqui deberia ir una imagen</span>
        </div>
        <section>
            <h2>Sobre mi</h2>
            <div>
                <p>prueba dsadsdas</p>
            </div>
        </section>
    </main>
</Layout>
