---
import "../styles/global.css";
import Header from '../components/Header.jsx'
import { ClientRouter } from "astro:transitions";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Portafolio Web - David Asto</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
		<ClientRouter />
	</head>
	<body class="text-gray-400 max-w-svw min-h-svh">
		<Header client:load />
		<slot />
	</body>
</html>

<style>
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		
	}

	
	
	
	
</style>
